# Runtime/Cache
*/var/cache/
*/var/db/
*/var/logs/

# Dev flags
*/var/dev

# Dependencies
node_modules/
vendor/

# IDE
.idea/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Compiled
*.pyc
__pycache__/

# Heavy Assets
kaisarcode/views/img/fa/
