{{@setblock footer}}
<p>&copy; 2025 KaisarCode</p>
<nav>
    <menu>
        <li>
            <a href="/rss" title="Fuente RSS" target="_blank">
                {{@block ico ['name' => 'rss']}}
                <span>RSS</span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/kaisarcode" title="Instagram" target="_blank" rel="noopener noreferrer">
                {{@block ico ['name' => 'instagram', 'type' => 'brands']}}
                <span>Instagram</span>
            </a>
        </li>
        <li>
            <a href="https://cafecito.app/kaisarcode" title="Cafecito" target="_blank" rel="noopener noreferrer">
                {{@block ico ['name' => 'mug-hot']}}
                <span>Cafecito</span>
            </a>
        </li>
    </menu>
</nav>
{{@endsetblock}}
