@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/font/roboto-condensed-v30-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('/font/roboto-condensed-v30-latin-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('/font/roboto-condensed-v30-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/font/roboto-mono-v30-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  src: url('/font/roboto-mono-v30-latin-600.woff2') format('woff2');
}
