/**
 * Icons
 * Summary: Icon sizing and positioning.
 * Author: KaisarCode
 * Website: https://kaisarcode.com
 * License: GNU GPL v3.0
 * License URL: https://www.gnu.org/licenses/gpl-3.0.txt
 */

a svg,
h1 svg,
h2 svg,
h3 svg,
h4 svg,
h5 svg,
h6 svg,
label svg {
    width: auto;
    height: 0.8rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

svg+span {
    top: 1px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

h1 svg {
    height: 1.2rem;
}
