/**
 * KaisarCode Styles Entry
 * Summary: Main entry point for site styles, importing the definitive theme.
 *
 * Author: KaisarCode
 * Website: https://kaisarcode.com
 * License: GNU GPL v3.0
 * License URL: https://www.gnu.org/licenses/gpl-3.0.txt
 */

@import url("themes/kaisarcode.css");
